* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #1E293B;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.top {
    display: flex;
    justify-content: space-around;
}
.bottom{
    padding: 30px;
}

header {
    background: black;
    padding: 18px 8%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: .3s;
}

nav ul li a:hover {
    color: #0075d4;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    padding: 40px 10%;
    gap: 80px;
    background: #0F172A;
}

.left img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid #00bcd4;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
}

.right {
    max-width: 550px;
}

.right h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.right h1 span {
    color: #00bcd4;
}

.right h3 {
    color: white;
    margin-bottom: 20px;
    font-size: 28px;
}

.right p {
    line-height: 1.8;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 14px 35px;
    background: #00bcd4;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: .3s;
}

.btn:hover {
    background: #4bd8bc;
}

section {
    padding: 30px 10%;
}

#about p {
    max-width: 700px;
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
    line-height: 1.8;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 30px;
    padding: 20px;
}

.card {
    background: white;
    color: black;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    font-size: 20px;
    transition: .3s;
}

.card:hover {
    transform: translateY(+8px);
    background: #00bcd4;
    color: white;
}

#contact {
    text-align: center;
    background: #111;
    color: white;
}

#contact p {
    margin: 15px 0;
    font-size: 18px;
}

@media(max-width:768px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .left img {
        width: 250px;
        height: 250px;
    }

    .right h1 {
        font-size: 36px;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        margin-top: 15px;
    }

}